version: '3.7'
services:
  gateway:
    build: ./gateway
    depends_on:
      - mongodb
      - minio
    environment:
      DATABASE_URL: mongodb://root:supersecret@mongodb:27017/vidstream?authSource=admin&directConnection=true
      S3_ACCESS_KEY: root
      S3_SECRET_KEY: supersecret
      S3_ENDPOINT: http://minio:9000
    volumes:
      - ./gateway:/app
      - /app/node_modules/
    ports:
      - 8080:8080
  mongodb:
    image: bitnami/mongodb:latest
    restart: on-failure
    environment:
      MONGODB_ADVERTISED_HOSTNAME: 127.0.0.1
      MONGODB_REPLICA_SET_MODE: primary
      MONGODB_ROOT_USER: root
      MONGODB_ROOT_PASSWORD: supersecret
      MONGODB_REPLICA_SET_KEY: replicasetkey123
    volumes:
      - mongodb_data:/bitnami/mongodb
    ports:
      - 27017:27017
  minio:
    image: quay.io/minio/minio:latest
    command: server /data --console-address ":9001"
    restart: unless-stopped
    environment:
      MINIO_ROOT_USER: root
      MINIO_ROOT_PASSWORD: supersecret
    volumes:
      - minio_data:/data
    ports:
      - 9000:9000
      - 9001:9001
volumes:
  mongodb_data:
    driver: local
  minio_data:
    driver: local
