version: '3.7'
services:
  gateway:
    build: ./gateway
    depends_on:
      - mongodb
      - minio
    environment:
      MONGO_URL: 'mongodb:27017'
      MONGO_USERNAME: 'user'
      MONGO_PASSWORD: 'secret'
      MONGO_AUTH_SOURCE: 'vidstream'
      S3_ACCESS_KEY: 'root'
      S3_SECRET_KEY: 'secret'
      S3_ENDPOINT: 'http://minio:9000'
    volumes:
      - ./gateway:/app
    ports:
      - 8080:8080
  mongodb:
    image: mongo
    restart: on-failure
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: secret
      MONGO_INITDB_DATABASE: vidstream
    volumes:
      - mongodb_data:/data/db
      - ./scripts/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    ports:
      - 27017:27017
  minio:
    image: quay.io/minio/minio:latest
    command: server /data --console-address ":9001"
    restart: unless-stopped
    environment:
      MINIO_ROOT_USER: root
      MINIO_ROOT_PASSWORD: secret
    volumes:
      - minio_data:/data
    ports:
      - 9000:9000
      - 9001:9001
volumes:
  mongodb_data:
    driver: local
  minio_data:
    driver: local